@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');


body {
  background-color: white;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
}

.d-flex {
  position: absolute;
  right: 20px;
}

.breadcrumb {
  color: #4a4a4a;
  display: inline-block;
  text-align: center;
  width: 100%;
  padding: 60px 30px;
  margin-top: 60px;
}

.collection_sidebar {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 30px;
  padding-top: 30px;
}

.form {
  background-image: url(../imagenes/lienzofinal.jpg);  
  background-position: center;
  width: 90%;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  max-width: 400px;
  border-radius: 1em;
  padding: 3.5em 1.5em;
}


.form__container {
  width: 100%;
  display: grid;
  gap: 1em;
  grid-auto-columns: 100%
}

.form__title {
  text-align: center;
  font-size: 1.9rem;
  margin-bottom: .4em;
}

.form__input {
  font-family: inherit;
  font-size: 1rem;
  /*es igual a 16px*/
  /*es relativo al tamaÃ±o de fuente o del padre en este caso es igual a 16px*/
  padding: .8em 1em;
  outline: none;
  border: none;
  border: 1px solid #bbb0b0;
  border-radius: 0.2emp;
}

.form__input--message {
  resize: none;
  padding: 1.8em 1em;
  margin-bottom: .5em;
  
}

.form__cta {
  font-family: inherit;
  font-size: 16px;
  background-image: url(../imagenes/lienzonegro.jpg);
  color: #fff;
  border: none;
  font-weight: 300;
  padding: .7em 0;
  border-radius: .2em;
  cursor: pointer;
  font-weight: 400;
}

@media (max-width:450) {
  .form {
    padding: 3.5em 1em;
  }
}

html {
  height: 100;
}


.logo {
  height: 50px;
  width: 60px;
}

.logo2{
  height: 80px;
  width: auto;
}


.link2{
  color: #4a4a4a;
  text-decoration: none; /*quitar subrayado link*/
}

.link3{
  color: white;
  text-decoration: none; /*quitar subrayado link*/
}

hr{
  color: black;
}

